{% extends "base.html" %}

{% block content %}
    <div class="create-new-quiz-container">
        {% if is_new %}
            <h2>Create New Quiz</h2>
        {% else %}
            <h2>Modify Quiz</h2>
        {% endif %}

        <form class="create-quiz-form" method="POST">
            {{ form.hidden_tag() }}

            <div class="input-container">
                <label>{{ form.title.label }}</label>
                {{ form.title }}
            </div>

            <div class="quiz-length-container">
                <label>{{ form.length.label }}</label>
                {{ form.length }}
                {{ form.change_length }}
            </div>

            <div class="question-form-list">
                {% for qna in form.questions %}
                    <div class="question-form-container">
                        <label>{{ qna.form.question.label }}</label>
                        {{ qna.form.question }}
                        <label>{{ qna.form.answer.label }}</label>
                        {{ qna.form.answer }}
                        <label>{{ qna.form.topic.label }}</label>
                        {{ qna.form.topic }}
                        <label>{{ qna.form.difficulty.label }}</label>
                        {{ qna.form.difficulty }}
                    </div>
                {% endfor %}
            </div>

            <div class="input-container">
                {{ form.submit }}
            </div>
        </form>

        <a href="{{ url_for('auth.quizzes') }}">Go back to quizzes</a>
    </div>
{% endblock %}