{% extends "base.html" %}

{% block content %}
<div class="Leaderboard-container">
    <h2 class="signup-title">Leaderboard</h2>
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for user in top_users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.results }}</td>
                </tr>
                <p>{{ loop.index }}. {{ entry.user.username }} - Score: {{ entry.total_score }} - Quizzes: {{ entry.quizzes_completed }}</p>
            {% endfor %}
        </tbody>
    </table>
















</div>
{% endblock %}